<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" [style.backgroundColor]="isDirtyColor()">
      <strong>Links</strong>
    </div>
    <div class="card-body">

      <div *ngFor="let aUrl of urls">
        <div style="padding-bottom:10px;" align="center">
          <div
            [matTooltip]="aUrl.urlValue"
            [style.color]="fontColor"
            (mouseover)="onConsideringEntity(event,this)"
            (mouseout)="onUnconsideringEntity(event,this)"
            (click)="openUrl(aUrl.urlValue)"
          > {{ aUrl.urlType.name }}</div>
        </div>
      </div>

      <div class="row" style="text-align:center;vertical-align:bottom;padding-top:10px;">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary btn-sm" (click)="openUrlDialog()">Add or update links</button>
        </div>
      </div>

    </div>
  </div>
</div>


