<div id="search-component" class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>View and Download Attachments</strong>
        </div>
        <div class="card-body">
           <div class="row">

             <app-team-filter-card
               (filterUpdated)="updateFilters($event)"
             ></app-team-filter-card>

              <div class="col-12">
                <div *ngIf="files"><app-attachment-list-card
                  [fatFilters]="fatFilters"
                  [files]="files"></app-attachment-list-card></div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
