<div id="search-component" class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>{{label.dashboard.title}}</strong>
        </div>
        <div class="card-body">

          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <div class="col-4">

                <div class="row" style="width:90%;">
                  <div class="col-9">
                    <mat-form-field style="width:100%">
                      <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                             [(placeholder)]="label.dashboard.searchPlaceholder"
                             #searchBox2 id="search-box2" (keyup)="search(searchBox2.value)" id="searcher">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let coc of results$ | async" [value]="coc.matchTerm"
                                    (onSelectionChange)="onOptionSelected(coc)">
                          {{ coc.matchTerm }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-secondary" (click)="resetSearch()"> {{label.dashboard.clear}} </button>
                  </div>
                </div>

                <div *ngIf="searchEntityLoaded()">
                  <div class="card card-accent-primary">
                    <div *ngIf="(companyLoaded && this.loadedCompany)">
                      <div class="card-header">
                        <strong>{{label.dashboard.company}}</strong>
                      </div>
                      <div class="card-body">
                        <div [innerHtml]="loadedCompany | companySummary"
                             (mouseover)="onConsideringEntity(event,this)"
                             (mouseout)="onUnconsideringEntity(event,this)"
                             (click)="selectCompany()"></div>
                      </div>
                    </div>
                    <div *ngIf="(contactLoaded && this.loadedContact)">
                      <div class="card-header">
                        <strong>{{label.dashboard.contact}}</strong>
                      </div>
                      <div class="card-body">
                        <div [innerHtml]="loadedContact | contactSummary"
                             (mouseover)="onConsideringEntity(event,this)"
                             (mouseout)="onUnconsideringEntity(event,this)"
                             (click)="selectContact()"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <app-team-filter-card
                  (filterUpdated)="updateFilters($event)"
                ></app-team-filter-card>

              </div>
              <div class="col-8">
<div *ngIf="showCommCard">
                <app-comm-card
                  (dataChanged)="commDataChanged($event)"
                  (commCanceled)="handleCommCancel($event)"
                  [replyToComm]="replyToComm"
                ></app-comm-card>
</div>
                <app-comm-list-card
                  [refreshData]="refreshCommData"
                  (triggerReply)="triggerReply($event)"
                ></app-comm-list-card>

              </div>
            </div>
          </form>

          <div class="row" *ngIf="fatFilters">
            <div *ngIf="searchEntityLoaded(); then actionAndCampaign; else actionOnly"></div>
            <ng-template #actionAndCampaign>
              <div class="col-md-6">
                <app-campaign-list-card [companyId]="loadedCompany?.companyId"
                                        [fatFilters]="fatFilters"
                                        [contactId]="loadedContact?.contactId"></app-campaign-list-card>
              </div>
              <div class="col-md-6">
                <app-action-list-card [companyId]="loadedCompany?.companyId"
                                      [fatFilters]="fatFilters"
                                      [contactId]="loadedContact?.contactId"></app-action-list-card>
              </div>
            </ng-template>
            <ng-template #actionOnly>
              <div class="col-md-6">
                <app-campaign-list-card [fatFilters]="fatFilters"></app-campaign-list-card>
              </div>
              <div class="col-md-6">
                <app-action-list-card [fatFilters]="fatFilters"></app-action-list-card>
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
