<div id="search-component" class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>Company **AND** Contact Search</strong>
        </div>
        <div class="card-body">

          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-6">
                    <mat-form-field style="width:100%">
                      <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  placeholder="Enter your search"
                             #searchBox2 id="search-box2" (keyup)="search(searchBox2.value)" id="searcher">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let coc of results$ | async" [value]="coc.matchTerm" (onSelectionChange)="onOptionSelected(coc)">
                          {{ coc.matchTerm }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
              </div>
            </div>
          </form>

          <div *ngIf="(companyLoaded && this.loadedCompany) || (contactLoaded && this.loadedContact)">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="card card-accent-primary">

                    <div *ngIf="(companyLoaded && this.loadedCompany)">
                      <div class="card-header">
                        Company Loaded
                      </div>
                      <div class="card-body">
                        <div [innerHtml]="loadedCompany | companySummary"
                             (mouseover)="onConsideringEntity(event,this)"
                             (mouseout)="onUnconsideringEntity(event,this)"
                             (click)="selectCompany()"></div>
                      </div>
                    </div>
                    <div *ngIf="(contactLoaded && this.loadedContact)">
                      <div class="card-header">
                        Contact Loaded
                      </div>
                      <div class="card-body">
                        <div [innerHtml]="loadedContact | contactSummary"
                             (mouseover)="onConsideringEntity(event,this)"
                             (mouseout)="onUnconsideringEntity(event,this)"
                             (click)="selectContact()"></div>
                      </div>
                    </div>
                </div>
              </div><!--/.col-->
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-action-list-card [companyId]="loadedCompany?.companyId" [contactId]="loadedContact?.contactId"></app-action-list-card>
              </div>
              <div class="col-md-6">
                <app-campaign-list-card [companyId]="loadedCompany?.companyId" [contactId]="loadedContact?.contactId"></app-campaign-list-card>
              </div>
            </div>
          </div>
          <div *ngIf="!(companyLoaded && this.loadedCompany) && !(contactLoaded && this.loadedContact)">

            <div class="row">
              <div class="col-md-12">
                <app-action-list-card [companyId]="loadedCompany?.companyId" [contactId]="loadedContact?.contactId"></app-action-list-card>
              </div>
            </div>


          </div>





        </div>
      </div>
    </div>
  </div>
</div>
