<div *ngIf="entityLoaded" id="search-component" class="animated fadeIn">

  <div class="row">
    <div class="col-9"><!-- first column -->

      <div *ngIf="entity">
        <div class="col-sm-12 col-md-12">
          <div class="card text-white bg-primary text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                Adding contact for {{entity}}::{{entityId}}
              </blockquote>
            </div>
          </div>
        </div><!--/.col-->
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-success text-center animated fadeIn" *ngIf="contactFlag">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <p>Your update has been saved.</p>
            </blockquote>
          </div>
        </div>
      </div><!--/.col-->

      <div class="card">
        <div class="card-header">
          <strong>Contact Details</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="entityFormGroup" novalidate>


          <!--main content area-->
          <div class="row">
            <div class="col-8">

              <div class="row">
                <div class="col-4" style="padding-top:7px; padding-bottom:7px;">



                <mat-form-field style="width:90%;">
                    <input matInput formControlName="contactFirstName" placeholder="Contact First Name">
                    <mat-error *ngIf="contactFirstName.hasError('required')">
                      Contact first name is required.
                    </mat-error>
                  </mat-form-field>


                </div>
                <div class="col-4" style="padding-top:7px; padding-bottom:7px;">


                  <mat-form-field style="width:90%;">
                    <input matInput formControlName="contactLastName" placeholder="Contact Last Name">
                    <mat-error *ngIf="contactLastName.hasError('required')">
                      Contact last name is required.
                    </mat-error>
                  </mat-form-field>


                </div>
                <div class="col-4" style="padding-top:7px; padding-bottom:7px;">

                  <mat-form-field style="width:90%;">
                    <mat-select placeholder="Title" formControlName="contactTitleTypeId">
                      <mat-option *ngFor="let title of titleTypes" [value]="title.contactTitleTypeId">
                        {{ title.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


                </div>
                <div class="col-6" style="padding-top:7px; padding-bottom:7px;">


                  <mat-form-field style="width:90%;">
                    <input matInput formControlName="contactEmailAddress" placeholder="Email Address">
                    <mat-error *ngIf="contactEmailAddress.invalid">
                      Contact email must be formatted properly.
                    </mat-error>
                  </mat-form-field>


                </div>
                <div class="col-6" style="padding-top:7px; padding-bottom:7px;">


                  <mat-form-field style="width:90%;">
                    <mat-select placeholder="Classification Type"
                                formControlName="classificationTypeId">
                      <mat-option *ngFor="let classificationType of classificationTypes"
                                  [value]="classificationType.classificationTypeId">
                        {{ classificationType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


                </div>
                <div class="col-6" style="padding-top:7px; padding-bottom:7px;">


                  <mat-form-field style="width:90%;">
                      <textarea matInput placeholder="Contact Description (field will autosize as needed)"
                                matTextareaAutosize
                                matAutosizeMinRows="5"
                                matAutosizeMaxRows="15" formControlName="description"></textarea>
                    <mat-error *ngIf="description.hasError('required')">
                      Contact email must be formatted properly.
                    </mat-error>
                  </mat-form-field>


                </div>
                <div class="col-6" style="padding-top:7px; padding-bottom:7px;">

                  <mat-form-field style="width:90%;">
                    <input matInput
                           [matDatepicker]="picker"
                           placeholder="This contact's birthday"
                           formControlName="dob"
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>


                  <mat-radio-group name="activeContact" formControlName="activeContact">
                    <mat-radio-button [value]="true"> Active</mat-radio-button> &nbsp;
                    <mat-radio-button [value]="false"> Inactive</mat-radio-button>
                  </mat-radio-group>


                  <app-datespace [entity]="contact"></app-datespace>


                </div>

                <div class="col-6">
                  <!--beneath main content area-->
                  <app-address-card
                    [associationSuccessful]="campaignFlag"
                    [associationFailure]="campaignFailureFlag"
                    [addresses]="contact.addresses"
                    [addressTypes]="addressClassificationTypes"
                    (addressesChangedInCard)="addressesChanged($event)"></app-address-card>
                </div>
                <div class="col-6">
                  <!--beneath main content area-->
                  <app-phone-card
                    [associationSuccessful]="campaignFlag"
                    [associationFailure]="campaignFailureFlag"
                    [phones]="contact.phones"
                    [phoneTypes]="phoneTypes"
                    (phonesUpdated)="updatePhones($event)"
                  ></app-phone-card>
                  <app-links-card
                    [associationSuccessful]="campaignFlag"
                    [associationFailure]="campaignFailureFlag"
                    [urls]="contact.urls"
                    [urlTypes]="urlTypes"
                    (linksUpdated)="updateLinks($event)"
                  ></app-links-card>

                </div>
              </div>


            </div>
            <div class="col-4">


              <app-tag-card
                [associationSuccessful]="campaignFlag"
                [associationFailure]="campaignFailureFlag"
                [tags]="contact.tags"
                (tagsUpdated)="updateTags($event)"></app-tag-card>


              <app-attachment-card [entityId]="contact.contactId"
                                   entityType="contact"
                                   [resourceId]="dataStore.userId"></app-attachment-card>
            </div>
          </div>


          <!--<div class="row" style="background-color: yellow;">-->
          <div class="row">
            <div class="col-6" style="text-align:left">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">Cancel</button>
            </div>
            <div class="col-6" style="text-align:right">
              <button type="button" class="btn btn-warning" (click)="addUpdateContact()" [disabled]="unreadyToSave()">
                Click to save
              </button>
            </div>
          </div>


          </form>
        </div>
      </div>

      <div>
      </div>

      <app-note-list-card [entityId]="contact.contactId"
                          entityType="contact"
                          [resourceId]="dataStore.userId"
      ></app-note-list-card>
      <button type="button" class="btn btn-secondary btn-sm" (click)="goBack()">Back</button>

    </div>
    <div class="col-3"><!-- third column -->


      <app-company-choice-card
        [associationSuccessful]="companyFlag"
        [associationFailure]="companyFailureFlag"
        [companyId]="contact.companyId"
        (selectCompany)="selectCompany($event)"
        (onCompanyChosen)="onCompanyChosen($event)"></app-company-choice-card>
      <div *ngIf="contact.contactId">

        <app-campaign-card [contactId]="contact.contactId"
                           [associationSuccessful]="campaignFlag"
                           [associationFailure]="campaignFailureFlag"
                           (onCampaignAssociatedToEntity)="onCampaignAssociatedToEntity($event)"
                           (onCampaignFlaggedForRemoval)="onCampaignFlaggedForRemoval($event)"
        ></app-campaign-card>
        <app-action-card [contactId]="contact.contactId"
                         [associationSuccessful]="actionFlag"
                         [associationFailure]="actionFailureFlag"
                         (onActionAssociatedToEntity)="onActionAssociatedToEntity($event)"
                         (onActionFlaggedForRemoval)="onActionFlaggedForRemoval($event)"
        ></app-action-card>

      </div>
    </div>
  </div>
</div>





