<div *ngIf="this.dataSource.data">

  <div id="search-component" class="animated fadeIn">
    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <strong>{{label.action.listTitle}}</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <mat-form-field>
                  <input matInput [(ngModel)]="textFilter" (keyup)="applyFilters()" placeholder="Filter">
                </mat-form-field>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-primary btn-sm" (click)="addNewAction()">{{label.action.addNew}}</button>
              </div>
            </div>
            <mat-table #table [dataSource]="dataSource" matSort>


              <!-- Name Column -->
              <ng-container matColumnDef="createDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Create Date </mat-header-cell>
                <mat-cell *matCellDef="let action"> {{action.createDate | date:'shortDate'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="targetCloseDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Target Close Date </mat-header-cell>
                <mat-cell *matCellDef="let action"> {{action.targetCompletionDate | date:'shortDate'}} </mat-cell>
              </ng-container>


              <!-- Basic column: Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{label.action.column.name}}</mat-header-cell>
                <mat-cell *matCellDef="let action"> {{action.name}}</mat-cell>
              </ng-container>

              <!-- Basic column: Description Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{label.action.column.description}}</mat-header-cell>
                <mat-cell *matCellDef="let action"> {{action.description}}</mat-cell>
              </ng-container>

              <!-- Basic column: Type Column -->
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>

                  <mat-select [(placeholder)]="label.action.column.type"
                              [(ngModel)]="typeFilter"
                              (selectionChange)="applyFilters()">
                    <mat-option value="all">All Types</mat-option>
                    <mat-option *ngFor="let classificationType of classificationTypes" [value]="classificationType.actionClassificationTypeId">
                      {{ classificationType.name }}
                    </mat-option>
                  </mat-select>

                </mat-header-cell>
                <mat-cell *matCellDef="let action">

                  {{action.classificationType?.name}}
                  <div *ngIf="action.classificationType?.name === 'Other'">
                    <div *ngIf="action.classificationOtherType">
                     - {{action.classificationOtherType?.name}}
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

              <div *ngIf="this.fullEdit">

                <!-- Full Edit column: Delete Column -->
                <ng-container matColumnDef="deleteAction">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-select [(placeholder)]="label.action.column.delete"
                                [(ngModel)]="deleteableStatus"
                                (selectionChange)="applyFilters()">
                      <mat-option value="all">All</mat-option>
                      <mat-option value="true">Can Delete</mat-option>
                      <mat-option value="false">Archive Only</mat-option>
                    </mat-select>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let action">

                    <div *ngIf="action.deleteable; then canDelete; else cannotDelete"></div>
                    <ng-template #canDelete>
                      Can Delete
                    </ng-template>
                    <ng-template #cannotDelete>
                      Archive Only
                    </ng-template>

                  </mat-cell>
                </ng-container>


                <!-- Full Edit column: Scope Column -->
                <ng-container matColumnDef="scope">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-select [(placeholder)]="label.action.column.scope"
                                [(ngModel)]="scopeFilter"
                                (selectionChange)="applyFilters()">
                      <mat-option value="all">All Scopes</mat-option>
                      <mat-option *ngFor="let scopeType of scopeTypes" [value]="scopeType.scopeTypeId">
                        {{ scopeType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let action"> {{action.scopeType?.name}}</mat-cell>
                </ng-container>


                <!--  Full Edit column: Active -->
                <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-select placeholder="Filter by Open/Closed"
                                [(ngModel)]="activeFilter"
                                (selectionChange)="applyFilters()">
                      <mat-option value="true">Open</mat-option>
                      <mat-option value="false">Closed</mat-option>
                      <mat-option value="all">All</mat-option>
                    </mat-select>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let action"> {{action.active | activeConversion}}</mat-cell>
                </ng-container>

              </div>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <div *ngIf="this.fullEdit">
                <mat-row *matRowDef="let action; columns: displayedColumns;"
                         [style.background-color]="bgColor"
                         (mouseover)="onConsideringAction(event,this)"
                         (mouseout)="onUnconsideringAction(event,this)"
                         (click)="onSelectAction(action)"></mat-row>
              </div>
              <ng-template #row_limitation>
                <mat-row *matRowDef="let action; columns: displayedColumns;"
                         [style.background-color]="bgColor"
                         (mouseover)="onConsideringAction(event,this)"
                         (mouseout)="onUnconsideringAction(event,this)"
                         (click)="onSelectAction(action)"></mat-row>

              </ng-template>
            </mat-table>
            <mat-paginator [length]="100"
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
