<script src="../../../../node_modules/dropzone"></script>

<div class="card">
  <div class="card-header">
    <strong>Attachments</strong>
  </div>
  <div class="card-body">



    <div *ngFor="let anAttachment of attachments">

      <div [innerHtml]="anAttachment | attachmentSummary"
           (mouseover)="onConsideringEntity(event,this)"
           (mouseout)="onUnconsideringEntity(event,this)"
           (click)="selectAttachment(anAttachment)"
      style="padding-bottom:18px; font-weight:bold; text-align: center;"></div>

    </div>

    <div #theDropZone style="background-color: lightsteelblue; padding: 10px 10px 10px 10px; text-align: center;">
    Drag and Drop... Or Click...
    </div>

    <div class="dz-preview dz-file-preview" #showZone>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>

  </div>
</div>
