<div class="modal-header">
  <h4 class="modal-title">Chatter</h4>
</div>

<div class="modal-body">

      <div class="row">
        <div class="col-9">
            weather
        </div>
        <div class="col-3">
            twitter
        </div>
      </div>

      <div class="row">
        <div class="col-9">
          news
        </div>
        <div class="col-3">
          map
        </div>
      </div>

</div>


  <div class="modal-footer">
    <div class="row" style="width:100%">
      <div class="col-12" align="right">
        <button class="btn btn-primary" (click)="close()">Done</button>
      </div>
    </div>
  </div>
