<div id="comm-details-view" class="animated fadeIn">
  <div class="row">
    <div class="col-9">
      <div *ngIf="entity">
        <div class="col-sm-12 col-12">
          <div class="card text-white bg-primary text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                <div style="color:red">Adding communication</div>
              </blockquote>
            </div>
          </div>
        </div><!--/.col-->
      </div>
      <div class="col-sm-12 col-12">
        <div class="card text-white bg-success text-center animated fadeIn" *ngIf="communicationFlag">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <p>Your communication has been sent.</p>
            </blockquote>
          </div>
        </div>
      </div><!--/.col-->


      <app-comm-card
        (dataChanged)="dataChanged($event)"
        (commCanceled)="handleCommCancel($event)"
        [replyToComm]="replyToComm"
      ></app-comm-card>

      <app-comm-list-card
        [refreshData]="refreshData"
        (triggerReply)="triggerReply($event)"
      ></app-comm-list-card>

    </div>
    <div class="col-3">
    </div>
  </div>
</div>













