<div class="modal-header">

  <div class="row" style="width:100%;">
    <div class="col-6">
      <h4 class="modal-title">Campaign quick edit</h4>
    </div>
    <div class="col-6" style="text-align: right;">
      <app-datespace [entity]="campaign"></app-datespace>
    </div>
  </div>

</div>
<div class="modal-body">
  <form [formGroup]="quickFormGroup" novalidate>
  <div *ngIf="campaign" id="quick-campaign-edit" class="animated fadeIn">

    <div class="row" style="padding-top:10px;">
      <div class="col-6">

        <mat-form-field style="width:100%">
          <input matInput formControlName="campaignName" placeholder="Campaign Name">
        </mat-form-field>

      </div>
      <div class="col-6">

      </div>
    </div>
    <div class="row">
      <div class="col-12" style="padding-top:10px;">

        <mat-form-field style="width:100%">
               <textarea matInput placeholder="Campaign Description (field will autosize as needed)" matTextareaAutosize
                         matAutosizeMinRows="8"
                         matAutosizeMaxRows="8" formControlName="campaignDescription"></textarea>
        </mat-form-field>

      </div>
    </div>
    <div class="row" style="padding-top:10px;">
      <div class="col-6">

        <div *ngIf="campaign.deleteable">
          <mat-checkbox id="deleteCampaign" formControlName="shouldDelete"> Delete this Campaign </mat-checkbox><br/>
        </div>

      </div>
      <div class="col-6">

        <mat-radio-group name="activeCampaign" formControlName="activeCampaign" (change)="disableCompletionDate()">
          <mat-radio-button [value]="true"> Active</mat-radio-button> &nbsp;
          <mat-radio-button [value]="false"> Closed</mat-radio-button>
        </mat-radio-group>

        <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
          <input matInput
                 placeholder="Actual ccompletion date"
                 [matDatepicker]="myDatepicker"
                 formControlName="actualCompletionDate"
          >
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

      </div>
    </div>
    <div class="row" style="padding-top:100px;">
      <div class="col-3">

        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="routeToCampaign()">Campaign Full Edit</button>

      </div>
      <div class="col-9" align="right">

        <button type="button" class="btn btn-warning" (click)="reset()">Undo changes and close</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="closeAndKeep()">Keep changes and close</button>

      </div>
    </div>
  </div>
  </form>
</div>
