<div *ngIf="entities" class="animated fadeIn">
  <div class="card" style="min-width:350px;">
    <div class="card-header">
      <strong>{{label.contact.title}}</strong>
      <span class="badge badge-success float-right animated fadeIn fadeOut" style="background-color:green" *ngIf="associationSuccessful">{{label.confirm.success}}</span>
      <span class="badge badge-success float-right animated fadeIn fadeOut" style="background-color:indianred" *ngIf="associationFailure">{{label.confirm.failure}}</span>
    </div>
    <div class="card-body">
      <div *ngFor="let aContact of entities;">
        <div class="row">
          <div class="col-md-8">
            <p
              [style.color]="fontColor"
              (mouseover)="onConsideringEntity(event,this)"
              (mouseout)="onUnconsideringEntity(event,this)"
              (click)="onSelectedContact(event,aContact.contactId)"
              [innerHtml]="aContact | contactSummary">
            </p>
          </div>
          <div class="col-md-4">
            <mat-checkbox (click)="removeContact(aContact.contactId)"> {{label.contact.remove}}</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="row" style="text-align:center;vertical-align:bottom;padding-top:10px;">
        <div class="col-md-12">
          <app-contact-adder
            [existingEntities]="entities"
            (onEntityAdded)="onContactAdded($event)"
          ></app-contact-adder>
          <button type="button" class="btn btn-primary btn-sm" (click)="createNewContact()">{{label.contact.addNew}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
