<div *ngIf="entityLoaded" id="search-component" class="animated fadeIn">
  <div class="row">
    <div class="col-9"><!-- first column -->
      <div *ngIf="entity">
        <div class="col-sm-12 col-md-12">
          <div class="card text-white bg-primary text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                Adding campaign for {{entity}}::{{entityId}}
              </blockquote>
            </div>
          </div>
        </div><!--/.col-->
      </div>
      <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-success text-center animated fadeIn" *ngIf="campaignFlag">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <p>Your update has been saved.</p>
            </blockquote>
          </div>
        </div>
      </div><!--/.col-->

      <div *ngIf="notesOnTop">
        <app-note-list-card [entityId]="campaign.campaignId"
                            entityType="campaign"
                            [resourceId]="resourceId"
        ></app-note-list-card>
      </div>

      <div class="card">
        <div class="card-header" [style.backgroundColor]="readyToSaveColor()">

          <div class="row">
            <div class="col-8">
              <strong>Campaign Details</strong>
            </div>
            <div class="col-4" style="text-align: right">
              <button type="button" class="btn btn-warning" (click)="toggleNotesPosition()">Move Notes</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="entityFormGroup" novalidate>

            <div class="row">
              <div class="col-5">

                <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
                  <input matInput
                         formControlName="campaignName"
                         placeholder="Campaign Name"
                         tabindex="1"
                  >
                </mat-form-field>



                <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
                   <textarea matInput
                             placeholder="Campaign Description (field will autosize as needed)"
                             matTextareaAutosize
                             matAutosizeMinRows="5"
                             matAutosizeMaxRows="15"
                             formControlName="campaignDescription"
                             tabindex="3"
                   ></textarea>
                </mat-form-field>

                <mat-form-field style="width:50%; padding-top:7px; padding-bottom:7px;">
                  <input matInput
                         placeholder="Target ccompletion date"
                         [matDatepicker]="myDatepicker1"
                         formControlName="targetCompletionDate"
                  >
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker1></mat-datepicker>
                </mat-form-field>



                <app-simple-slider
                  aLabel="Importance"
                  [aValue]="campaign.importance"
                  (valueChanged)="updateImportance($event)"
                ></app-simple-slider>

                <app-simple-slider
                  aLabel="Difficulty"
                  [aValue]="campaign.difficulty"
                  (valueChanged)="updateDifficulty($event)"
                ></app-simple-slider>



              </div>
              <div class="col-3">



                <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
                  <mat-select placeholder="Campaign Type"
                              formControlName="campaignClassificationTypeId"
                              tabindex="2"
                  >
                    <mat-option *ngFor="let classificationType of classificationTypes"
                                [value]="classificationType.campaignClassificationTypeId">
                      {{ classificationType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>



                <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
                  <mat-select
                    placeholder="Scope"
                    formControlName="scopeTypeId"
                    (selectionChange)="disableTeam()"
                    tabindex="4"
                  >
                    <mat-option *ngFor="let scopeType of scopeTypes" [value]="scopeType.scopeTypeId">
                      {{ scopeType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
                  <mat-select
                    formControlName="teamId"
                    placeholder="Team"
                  >
                    <mat-option *ngFor="let aTeam of teams" [value]="aTeam.teamId">
                      {{ aTeam.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="teamId.hasError('required')">
                    Team is required when you've chosen 'Team' scope.
                  </mat-error>
                </mat-form-field>

                <mat-radio-group name="activeCampaign" formControlName="activeCampaign" (change)="disableCompletionDate()">
                  <mat-radio-button [value]="true"> Active</mat-radio-button> &nbsp;
                  <mat-radio-button [value]="false"> Closed</mat-radio-button>
                </mat-radio-group>

                <mat-form-field style="width:90%; padding-top:7px; padding-bottom:7px;">
                  <input matInput
                         placeholder="Actual ccompletion date"
                         [matDatepicker]="myDatepicker2"
                         formControlName="actualCompletionDate"
                  >
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker2></mat-datepicker>
                </mat-form-field>


                <app-datespace [entity]="campaign"></app-datespace>

              </div>
              <div class="col-4">

                <div *ngIf="campaign.campaignId">
                  <app-tag-card
                    [associationSuccessful]="campaignUpdated"
                    [associationFailure]="campaignFailureUpdated"
                    [tags]="campaign.tags"
                    (tagsUpdated)="updateTags($event)"></app-tag-card>

                  <app-attachment-card  [entityId]="campaign.campaignId"
                                        entityType="campaign"
                  ></app-attachment-card>

                </div>
                <div style="color:orangered;">
                  {{ campaign.targetCompletionDate | date:'full' }}<br/>
                  {{ campaign.actualCompletionDate | date:'full' }}<br/>
                  Importance: {{ campaign.importance }} <br/>
                  Difficulty {{ campaign.difficulty }}
                </div>


              </div>
            </div>


            <div class="row">
              <div class="col-6" style="text-align:left">
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Cancel</button>
              </div>
              <div class="col-6" style="text-align:right">
                <div (mouseenter)="possiblyTriggerErrorMessages()"
                ><button type="button" class="btn btn-warning" (click)="addUpdateCampaign()" [disabled]="unreadyToSave()">Click to save</button></div>
              </div>
            </div>

          </form>
        </div>
      </div>

        <div *ngIf="!notesOnTop">
          <app-note-list-card [entityId]="campaign.campaignId"
                              entityType="campaign"
                              [resourceId]="resourceId"
          ></app-note-list-card>
        </div>

    </div>
    <div class="col-3"><!-- third column -->

      <!--beneath main content area-->
      <div *ngIf="campaign?.campaignId">
        <app-action-card [campaignId]="campaign.campaignId"
                         [associationSuccessful]="actionFlag"
                         [associationFailure]="actionFailureFlag"
                         (onActionAssociatedToEntity)="onActionAssociatedToEntity($event)"
                         (onActionFlaggedForRemoval)="onActionFlaggedForRemoval($event)"
        ></app-action-card>
      </div>

      <!--beneath main content area-->
      <div *ngIf="campaign?.campaignId">
        <app-company-card [campaignId]="campaign.campaignId"
                          [associationSuccessful]="companyFlag"
                          (onCompanyAssociatedToEntity)="onCompanyAssociatedToEntity($event)"
                          (onCompanyFlaggedForRemoval)="onCompanyFlaggedForRemoval($event)"
        ></app-company-card>
        <app-contact-card [campaignId]="campaign.campaignId"
                          [associationSuccessful]="contactFlag"
                          [associationFailure]="contacFailuretFlag"
                          (onContactAssociatedToEntity)="onContactAssociatedToEntity($event)"
                          (onContactFlaggedForRemoval)="onContactFlaggedForRemoval($event)"
        ></app-contact-card>
      </div>
    </div>
  </div>
</div>

