<!--<div class="row" style="background-color: red;">-->
<div class="row">
  <div class="col-8">
      <mat-form-field style="width:90%; padding-top:7px;">
          <input matInput [matDatepicker]="datepicker" placeholder="{{keyPhrase}} date" [(ngModel)]="theDate" (dateInput)="dateChanged($event)">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
  </div>
  <div class="col-4">
        <mat-form-field style="width:90%; padding-top:7px;">
          <input type="number" matInput placeholder="Days from now" value="0" min="-365" max="365" [(ngModel)]="daysFromToday" (change)="daysChanged($event, daysFromToday)">
        </mat-form-field>
  </div>
</div>
