<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Phone Numbers</strong>
    </div>
    <div class="card-body">


        <p>Phone 1: 847-226-9530</p>
        <p>Phone 2: 847-226-9530</p>
        <p>Phone 3: 847-226-9530</p>


      <div class="row" style="text-align:center;vertical-align:bottom;padding-top:10px;">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary btn-sm" (click)="openPhoneDialog()">Add or update numbers</button>
        </div>
      </div>

    </div>
  </div>
</div>


