<div class="animated fadeIn">
  <div class="card" style="min-width:350px; margin-top:7px; margin-top:7px; padding-left:1px; padding-right:1px;">
    <div class="card-header" [style.backgroundColor]="isDirtyColor()">
      <strong>Phone numbers</strong>
    </div>
    <div class="card-body">

      <div *ngFor="let aPhone of phones">
        <div style="padding-bottom:10px;" align="center">
          <div [style.color]="fontColor"
          >
            {{ aPhone.phoneType.name }} : {{ aPhone.phoneValue }} {{ aPhone.description }}</div>
        </div>
      </div>

      <div class="row" style="text-align:center;vertical-align:bottom;padding-top:10px;">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary btn-sm" (click)="openPhoneDialog()">Add or update number</button>
        </div>
      </div>

    </div>
  </div>
</div>


