<div *ngIf="company" id="search-component" class="animated fadeIn">
  <div class="row">
    <div class="col-9">


      <div *ngIf="entity">
        <div class="col-sm-12 col-md-12">
          <div class="card text-white bg-primary text-center">
            <div class="card-body">
              <blockquote class="card-bodyquote">
                <div style="color:red">Adding company for {{entity}}::{{entityId}}</div>
              </blockquote>
            </div>
          </div>
        </div><!--/.col-->
      </div>

      <div class="col-sm-12 col-md-12">
        <div class="card text-white bg-success text-center animated fadeIn" *ngIf="companyUpdated">
          <div class="card-body">
            <blockquote class="card-bodyquote">
              <p>Your update has been saved.</p>
            </blockquote>
          </div>
        </div>
      </div><!--/.col-->


      <div class="card">
        <div class="card-header">
          <strong>Company Details</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">


              <div class="row">
                <div class="col-12">

                  <form [formGroup]="companyFormGroup" novalidate>
                    <div class="row">
                      <div class="col-md-5">
                        <mat-form-field class="mid-sized">
                          <input matInput formControlName="companyName" [(ngModel)]="company.name"
                                 placeholder="Company Name">
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field class="small-sized">
                          <input matInput formControlName="externalId" [(ngModel)]="company.externalId"
                                 placeholder="External Customer Id">
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="small-sized" style="padding-left:20px;">
                          <mat-select placeholder="Classification Type" formControlName="companyClassification"
                                      [(ngModel)]="company.classificationType.classificationTypeId">
                            <mat-option *ngFor="let classificationType of classificationTypes"
                                        [value]="classificationType.classificationTypeId">
                              {{ classificationType.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <mat-form-field class="mid-to-large-sized">
                   <textarea matInput placeholder="Company Description (field will autosize as needed)"
                             matTextareaAutosize matAutosizeMinRows="4"
                             matAutosizeMaxRows="10" formControlName="description"
                             [(ngModel)]="company.description"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                      </div>
                    </div>
                    <div *ngIf="company?.classificationType?.classificationTypeId === 'PR'">
                      <app-prospect-card [company]="company"></app-prospect-card>
                    </div>
                  </form>

                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-6">
                    <app-address-card [addresses]="company.addresses"
                                      [addressTypes]="addressClassificationTypes"
                                      (addressesChangedInCard)="addressesChanged($event)"></app-address-card>
                  </div>
                  <div class="col-6">
                    <app-phone-card [company]="company"></app-phone-card>
                    <app-links-card [urls]="company.urls" [urlTypes]="urlTypes"></app-links-card>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-4">


              <app-tag-card [tags]="company.tags"></app-tag-card>
              <app-attachment-card [attachments]="company.attachments"></app-attachment-card>


            </div>
          </div>
          <div class="row">
            <div class="col-12">

              <div class="col-12" style="text-align:right">
                <button type="button" class="btn btn-warning" (click)="addUpdateCompany()">Click to save
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-3">
      <div *ngIf="company?.companyId">
        <app-campaign-card [companyId]="company.companyId"
                           [associationSuccessful]="campaignFlag"
                           (onCampaignAssociatedToEntity)="onCampaignAssociatedToEntity($event)"
                           (onCampaignFlaggedForRemoval)="onCampaignFlaggedForRemoval($event)"
        ></app-campaign-card>
        <app-action-card [companyId]="company.companyId"
                         [associationSuccessful]="actionFlag"
                         [associationFailure]="actionFailureFlag"
                         (onActionAssociatedToEntity)="onActionAssociatedToEntity($event)"
                         (onActionFlaggedForRemoval)="onActionFlaggedForRemoval($event)"
        ></app-action-card>
        <app-contact-card [companyId]="company.companyId"
                          [associationSuccessful]="contactFlag"
                          (onContactAssociatedToEntity)="onContactAssociatedToEntity($event)"
                          (onContactFlaggedForRemoval)="onContactFlaggedForRemoval($event)"
        ></app-contact-card>
      </div>
    </div>
  </div>
</div>













